@model ES_WEBKYSO.Models.GCS_LICHGCS
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Nhân viên ký bảng kê";
}

<div class="container" style="min-height: 851px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h3>@*<span class="page-header-text">@ViewBag.Title</span>*@</h3>
                <h3><span style="color: teal">Ký bảng kê</span></h3>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            Tìm kiếm
            <i class="fa fa-search text-right"></i>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            Mã đơn vị
                                        </label>
                                        <input class="form-control" placeholder="Mã đơn vị" type="text" id="MaDonVi" name="MaDonVi"
                                               value="@Html.Raw(ViewBag.MaDviQly)" disabled="">
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">
                                            Ngày ghi
                                        </label>
                                        <input type="number" class="form-control input-append date" id="NgayGhi" name="NgayGhi"
                                               data-date="01" min="1" max="31">
                                        @*<select name="NgayGhi" id="NgayGhi" class="form-control" required>
                                                <option value="">--- Chọn ngày ---</option>
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                                <option value="06">6</option>
                                                <option value="07">7</option>
                                                <option value="08">8</option>
                                                <option value="09">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>*@
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Mã sổ
                                        </label>
                                        <input class="form-control" placeholder="Mã sổ" type="text" id="MaSo" name="MaSo">
                                    </div>


                                    <div class="col-md-1">
                                        <label class="control-label">
                                            Kỳ GCS
                                        </label>
                                        <select name="Ky" id="Ky" class="form-control" required>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            Tháng
                                        </label>
                                        @*<input type="text" class="form-control input-append date" id="Thang" name="Thang" data-date="01" data-date-format="MM">*@
                                        <select name="Thang" id="Thang" class="form-control" required>
                                            <option value="01">Tháng 1</option>
                                            <option value="02">Tháng 2</option>
                                            <option value="03">Tháng 3</option>
                                            <option value="04">Tháng 4</option>
                                            <option value="05">Tháng 5</option>
                                            <option value="06">Tháng 6</option>
                                            <option value="07">Tháng 7</option>
                                            <option value="08">Tháng 8</option>
                                            <option value="09">Tháng 9</option>
                                            <option value="10">Tháng 10</option>
                                            <option value="11">Tháng 11</option>
                                            <option value="12">Tháng 12</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">
                                            Năm
                                        </label>
                                        <input type="text" class="form-control input-append date" id="Nam" name="Nam" data-date="02-2012" data-date-format="yyyy">
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">
                                            Trạng thái
                                        </label>
                                        <select id="TrangThaiKy" name="TrangThaiKy" class="form-control">
                                            @*<option value="">--- Chọn trạng thái ---</option>*@
                                            <option value="true">Đã ký</option>
                                            <option value="false" selected>Chưa ký</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <br />
                                    <label class="control-label">
                                        Tổ đội
                                    </label>
                                    @Html.DropDownListFor(x => x.MA_DOIGCS, (List<SelectListItem>) ViewData["MA_DOIGCS"], new {@class = "form-control"})
                                    @*<select name="MaDoi" id="MaDoi" class="form-control" required>
                <option value="">--- Chọn tổ đội ---</option>
            </select>*@
                                    @*@Html.EditorFor(x => x.MA_DOIGCS, new { dropKey = "MA_DOIGCS", htmlAttributes = new { @class = "form-control" } })*@
                                </div>
                                <div class="col-md-6">
                                    <br/>
                                    <label class="control-label">
                                        Loại bảng kê
                                    </label>
                                    <select name="MaLoaiBangKe" id="MaLoaiBangKe" class="form-control" required>
                                        @*<option value="">--- Loại bảng kê ---</option>*@
                                        @*<option value="SLBT">Sản lượng bất thường</option>
                                        <option value="TTBT">Tình trạng bất thường</option>*@
                                        <option value="BKCS" selected>Bảng kê chỉ số</option>
                                    </select>
                                </div>
                                <br/>

                                <div class="col-md-1">
                                    <label class="control-label">
                                    </label>
                                    <button type="submit" class="btn btn-primary" value="Tìm kiếm" id="btnGetData">
                                        <i class="fa fa-search"></i>
                                        Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    @*<div class="panel panel-success">
        <div class="panel-heading">
            Thao tác
            <i class="fa fa-pencil-square-o text-right"></i>
        </div>
        <div class="panel-body">
            <fieldset>
                <div class="col-md-3">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary" id="btnXacNhanKyBangkeAll">
                                    <i class="fa fa-check"></i>
                                    Xác nhận ký bảng kê
                                </button>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <br />

            </fieldset>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-file-text"></i>
                    @ViewBag.Title
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="TableGeneric">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10" align="left">
        </div>
    </div>
</div>
<div id="full-width" class="modal container fade in" tabindex="-1" style="display: none; margin-top: -138.5px;" aria-hidden="false">
    <div class="modal-body">
        @Html.Partial("~/Views/ReportBangKeChiSo.aspx")
    </div>
</div>
<a id="aSign" class="hidden essign_btnSign" href="javascript:void(0);">Sign</a>
@section PageScripts{
    @*<script src="~/Scripts/jquery.validate.new.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @Scripts.Render("~/js/datatables")
    <script src="~/Content/themes/ClipOne/plugins/DataTables/media/js/jquery.dataTables.editable.js"></script>

    <script type="text/javascript">
        $("#TrangThaiKy").change(function () {
            $("#btnKyBangke").attr("disabled", this.value === "true");
            $("#btnXacNhanKyBangke").attr("disabled", this.value === "true");
        });
        @*$(document).ready(function () {
            $.ajax({ //lấy danh sách đội cho phần thao tác
                type: 'POST',
                url: '@Url.Action("GetDOI_GCS")',
                dataType: 'json',
                traditional: true,
                data: {},
                success:
                    function (tous) {
                        $.each(tous, function (i, tou) {
                            $("#MaDoi").append('<option value="' + tou.MAChar + '">' + tou.TEN + '</option>');
                        });
                    },
                error: function (ex) {
                    alert('Có lỗi xảy ra trong quá trình tải dữ liệu: ' + ex);
                }
            });
            return false;
        });*@
        @*$(document).ready(function () {
            $.ajax({ //lấy danh sách đội cho phần thao tác
                type: 'POST',
                url: '@Url.Action("GetLoaiBangKe")',
                dataType: 'json',
                traditional: true,
                data: {},
                success:
                    function (tous) {
                        $.each(tous, function (i, tou) {
                            $("#MaLoaiBangKe").append('<option value="' + tou.MAChar + '">' + tou.TEN + '</option>');
                        });
                    },
                error: function (ex) {
                    alert('Có lỗi xảy ra trong quá trình tải dữ liệu: ' + ex);
                }
            });
            return false;
        });*@

        (function ($) {
            "use strict";

            window.TableConfig = [];

            window.TableConfig[0] = {
                id: "TableGeneric",
                url: "@Url.Action("GetJson")",
                //funcgr: function (grid) {
                //    window.TableGenericCapNhatChiSoGrid = grid;
                //},
                reloadFunc: function (d) {
                    d.MaDonVi = $("#MaDonVi").val();
                    d.NgayGhi = $("#NgayGhi").val();
                    d.MaSo = $("#MaSo").val();
                    d.LoaiSo = $("#LoaiSo").val();
                    d.Ky = $("#Ky").val();
                    d.Thang = $("#Thang").val();
                    d.Nam = $("#Nam").val();
                    d.TrangThai = $("#TrangThai").val();
                    d.Gio = $("#Gio").val();
                    @*d.MaDoi = '@Request["MA_DOIGCS"]';*@
                    //d.MaDoi = $("#MaDoi").val();
                    d.MaDoi = $("#MA_DOIGCS").val();
                    d.MaLoaiBangKe = $("#MaLoaiBangKe").val();

                    d.TrangThaiKy = $("#TrangThaiKy").val();
                },
                AddOn: {
                    "columnDefs": [
                        {
                            "targets": -1,
                            "data": null,
                            "render": function (data, type, full) {
                                var ret = "";
                                //ret = '<div><a class="btn btn-xs btn-teal tooltips Edit" href="/ReportViewer/TongReport.aspx?IdLich=' + data.ID_LICHGCS + '&MaBangKe=' + data.MA_LOAIBANGKE + '"' + 'target="_blank"><i class="fa fa-eye"></i></a>' + " " + '<button class="btn btn-xs btn-teal tooltips Edit" name="idLich" id="idLich" value="' + data.ID_LICHGCS + '" onclick="btnKyBangke()" ><i class="fa fa-arrow-circle-left"></i></button></div>';
                                if (data.TrangThaiKy == true) {
                                    ret =
                                        '<div><a class="btn btn-xs btn-success tooltips Edit" title="Xem bảng kê" href="/Uploads/FilesHoSo/' + data.MA_DVIQLY + '/' + data.MA_LOAIBANGKE + '_' + data.MA_SOGCS + '_' + data.NAM + '_' + data.THANG + '_' + data.KY + '.pdf"' + 'target="_blank""><i class="fa fa-eye"></i></a></div>';
                                } else {
                                    ret = '<div><a class="btn btn-xs btn-teal tooltips Edit" title="Xem bảng kê" href="/ReportViewer/TongReport.aspx?IdLich=' + data.ID_LICHGCS + '&MaBangKe=' + data.MA_LOAIBANGKE + '"' + 'target="_blank"><i class="fa fa-eye"></i></a>' + " " + '<button class="btn btn-xs btn-primary tooltips Edit" title="Ký bảng kê" name="idLich" id="idLich" value="' + data.ID_LICHGCS + '" onclick="btnKyBangke()" ><i class="fa fa-pencil"></i></button>' + " " + '<button class="btn btn-xs btn-warning tooltips Edit" title="Xác nhận ký bảng kê" name="idLichs" id="idLichs" value="' + data.ID_LICHGCS + '" onclick="btnXacNhanKyBangke()" ><i class="fa fa-check"></i></button></div>';
                                }
                                return ret;
                            }
                        }
                    ]
                },
                columns: [
                    {
                        data: null,
                        type: 'checkbox',
                        className: 'dt-center center',
                        'bSortable': false,
                        render: function (data) {
                            return '<div class="checkbox-table"><label><input type="checkbox" name="chkSo" id="chkSo" class="checkboxes" value="' + data.ID_LICHGCS + '"/></label></div>';
                        }
                    },
                    {
                        header: "Mã sổ",
                        data: "MA_SOGCS"
                    },
                    {
                        header: "Tên sổ",
                        data: "TEN_SOGCS"
                    },
                    {
                        header: "Hình thức ghi",
                        data: "HINH_THUC"
                    },
                    {
                        header: "Ngày ghi",
                        data: "NGAY_GHI"
                    },
                    {
                        header: "Kỳ",
                        data: "KY"
                    },
                    {
                        header: "Tháng",
                        data: "THANG"
                    },
                    {
                        header: "Năm",
                        data: "NAM"
                    }, {
                        header: "Tổ đội",
                        data: "MA_DOIGCS"
                    }, {
                        header: "Nhân viên GCS",
                        data: "FullName"
                    },
                    {
                        header: "Loại bảng kê",
                        data: "MA_LOAIBANGKE"
                    },
                    {
                        header: "Trạng thái",
                        data: "TrangThaiKy",
                        render: function (data) {
                            if (data == true) {
                                return "<div class='label label-sm label-success'>Đã ký</div>";
                            } else {
                                return "<div class='label label-sm label-info'>Chưa ký</div>";
                            }
                        }
                    },
                    //{
                    //    header: "Trạng thái",
                    //    data: "STATUS_DHK",
                    //    render: function (data) {
                    //        if (data === "DHDK") {
                    //            return "<div class='label label-sm label-success'>Đã ký</div>";
                    //        } else{
                    //            return "<div class='label label-sm label-info'>Chưa ký</div>";
                    //        }
                    //    }
                    //},
                    {
                        'bSortable': false,
                        header: "Tác vụ",
                        className: "center",
                        data: null
                    }
                ]
            };

            $(function () {
                var temp = "01";
                var gio = "0";
                var d = new Date();
                $("#Ky").val(temp);
                $("#Gio").val(gio);
                $("#Nam").val(d.getFullYear());
            });
            $(function () {
                var d = new Date();
                var m = d.getMonth();
                $('#Thang option:eq(' + m + ')').prop('selected', true);
            });
            //$(function () {
            //    var d = new Date();
            //    var m = d.getDate();
            //    $('#NgayGhi option:eq(' + m + ')').prop('selected', true);
            //});
            $("#btnGetData").on('click',
                function () {
                    AutoDataTable();
                });
            $(document).ready(function () {
                $('.TableGeneric tr').click(function (event) {
                    if (event.target.type !== 'checkbox') {
                        $(':checkbox', this).trigger('click');
                    }
                });
            });
            window.btnKyBangke = function () {
                if (getCheckedId() == "") { alert('Vui lòng chọn bản ghi để ký bảng kê!'); return };
            //$("window.btnKyBangke").on('click',
                //function () {
                    debugger;
                    var dataToPost = {};
                    dataToPost.maLoaiBangKe = $("#MaLoaiBangKe").val();
                    //dataToPost.idlich = $("#idLich").val();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SignPerformDieuHanhKy")',
                        dataType: 'json',
                        traditional: true,
                        data: { ids: getCheckedId(), maLoaiBangKe: dataToPost.maLoaiBangKe },
                        success: function (data) {
                            if (data.Result == true) {
                                alert(data.Message);
                                var callApp = data.Data.CallApp;
                                var keySign = data.Data.KeySign;
                                var caVersion = data.Data.CAVersion;
                                CallApp(callApp, keySign, caVersion);
                                document.getElementById("btnGetData").click();
                            }
                        },
                        error: function (ex) {
                            alert('Có lỗi xảy ra trong quá trình ký: ' + ex);
                        }
                    });
            };

            $("#btnXacNhanKyBangkeAll").on('click',
                function () {
                    debugger;
                    var dataToPost = {};
                    dataToPost.maLoaiBangKe = $("#MaLoaiBangKe").val();
                    if (getCheckedId() == "") { alert('Vui lòng chọn bản ghi để xác nhận ký bảng kê!'); return };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("XacNhanKyBangKe")',
                        dataType: 'json',
                        traditional: true,
                        data: { ids: getCheckedId(), maLoaiBangKe: dataToPost.maLoaiBangKe },
                        success: function (data) {
                            if (data.success === true) {
                                alert(data.message);
                                document.getElementById("btnGetData").click();
                            } else {
                                alert(result.message);
                            }
                        },
                        error: function (ex) {
                            alert('Có lỗi xảy ra trong quá trình ký: ' + ex);
                        }
                    });
                });

            window.btnXacNhanKyBangke = function(){
            //$("#btnXacNhanKyBangke").on('click',
            //    function () {
                    debugger;
                    var dataToPost = {};
                    dataToPost.maLoaiBangKe = $("#MaLoaiBangKe").val();
                    //dataToPost.idlich = $("#idLich").val();
                    if (getCheckedId() == "") { alert('Vui lòng chọn bản ghi để xác nhận ký bảng kê!'); return };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("XacNhanKyBangKe")',
                        dataType: 'json',
                        traditional: true,
                        data: { ids: getCheckedId(), maLoaiBangKe: dataToPost.maLoaiBangKe },
                        success: function (data) {
                            if (data.success === true) {
                                alert(data.message);
                                document.getElementById("btnGetData").click();
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (ex) {
                            alert('Có lỗi xảy ra trong quá trình ký: ' + ex);
                        }
                    });
                };

            function getCheckedId() {
                var checkboxes = document.getElementsByName('chkSo');
                var listIDs = new Array();
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    if (checkboxes[i].checked) {
                        listIDs.push(checkboxes[i].value);
                    }
                }
                return listIDs;
            }
        })(jQuery);
    </script>
}
