@model Administrator.Library.Models.webpages_Roles

<div class="form-group">
    <label class="col-sm-2 control-label" for="form-field-1">Tên quyền <span class="symbol required"></span></label>
    <div class="col-sm-9">
        @Html.TextBoxFor(item => item.RoleName, new { @class = "form-control", @id = "txtRoleName", @placeholder = "Tên quyền", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(item => item.RoleName)
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="form-field-1">Mô tả <span class="symbol required"></span></label>
    <div class="col-sm-9">
        @Html.TextBoxFor(item => item.Description, new { @class = "form-control", @id = "txtDescription", @placeholder = "Mô tả" })
        @Html.ValidationMessageFor(item => item.Description)
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Cập nhật" id="btnAdd" style="width: 100px;" />
        <a class="btn btn-dark-grey" href="@Url.Action("RoleManager")" style="width: 100px;">Thoát
                            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
