@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Danh mục đội";
}

<div class="container" style="min-height: 851px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h3>@*<span class="page-header-text">@ViewBag.Title</span>*@</h3>
                <h3><span style="color: teal">Danh mục đội</span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" align="left">
            @Html.ValidationSummary()
            @if (TempData["Error"] != null)
            {
                @*<div class="alert alert-danger">
                        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
                    </div>*@
                <div class="alert alert-danger">
                    <button data-dismiss="alert" class="close">
                        ×
                    </button>
                    <i class="fa fa-times-circle"></i>
                    <strong>Error!</strong> @TempData["Error"].ToString()
                </div>
            }
            @if (TempData["Success"] != null)
            {
                @*<div class="alert alert-success">
                        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                    </div>*@
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close">
                        ×
                    </button>
                    <i class="fa fa-check-circle"></i>
                    <strong>Success!</strong> @TempData["Success"].ToString()
                </div>
            }
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            Tìm kiếm
            <i class="fa fa-search text-right"></i>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label">
                                        Đơn vị
                                    </label>
                                    <input type="text" placeholder="Đơn vị" id="MaDonVi" name="MaDonVi" class="form-control" value="@Html.Raw(ViewBag.MaDviQly)" disabled="">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">
                                        Mã đội
                                    </label>
                                    <input type="text" placeholder="Mã đội" id="MaDoi" name="MaDoi" class="form-control" autofocus="autofocus">
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">
                                        Tên đội
                                    </label>
                                    <input type="text" placeholder="Tên đội" id="TenDoi" name="TenDoi" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <br />
                            <button type="submit" class="btn btn-primary" value="Tìm kiếm" id="btnGetData">
                                <i class="fa fa-search"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- start: SOGCS TABLE PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-apple"></i>
                    @ViewBag.Title
                    <div class="panel-tools">
                        <a href="@Url.Action("Create")" data-toggle="modal" title="Thêm" data-target="#popupStaticModal" class="btn btn-xs tooltips" data-original-title="Thêm">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-full-width" id="TableGeneric">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end: SOGCS TABLE PANEL -->
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @Scripts.Render("~/js/datatables")
    <script src="~/Content/themes/ClipOne/plugins/DataTables/media/js/jquery.dataTables.editable.js"></script>

    <script type="text/javascript">
        (function($) {
            "use strict";
            window.TableConfig = [];
            window.TableConfig[0] = {
                id: "TableGeneric",
                url: "@Url.Action("GetJson")",
                funcgr: function(grid) {
                    window.TableGenericDanhMucDoiGrid = grid;
                },
                reloadFunc: function(d) {
                    d.MaDonVi = $("#MaDonVi").val();
                    d.MaDoi = $("#MaDoi").val();
                    d.TenDoi = $("#TenDoi").val();
                },
                AddOn: {
                    "columnDefs": [
                        {
                            "targets": -1,
                            "data": null,
                            "render": function(data, type, full) {
                                var ret =
                                    '<div><a class="btn btn-xs btn-teal tooltips Edit" data-toggle="modal" data-target="#popupStaticModal" title="Sửa" href="@Url.Action("Update", "DanhMucDoi", new {maDoi = "MaDoiParameter"})"><i class="fa fa-edit"></i></a>  ' +
                                        '<a class="btn btn-xs btn-bricky tooltips Delete" data-id="MaDoiParameter" data-original-title="" title="Xóa" href="#"><i class="fa fa-trash-o"></i></a></div>';
                                ret = ret.replace(/MaDoiParameter/g, data.MA_DOIGCS);
                                return ret;
                            }
                        }
                    ]
                },
                columns: [
                    {
                        header: "Mã đội",
                        className: 'dt-center center',
                        data: "MA_DOIGCS"
                    },
                    {
                        header: "Tên đội",
                        className: 'dt-center center',
                        data: "TEN_DOI"
                    },
                    {
                        header: "Mã đơn vị quản lý",
                        className: 'dt-center center',
                        data: "MA_DVIQLY"
                    },
                    {
                        header: "Ghi chú",
                        className: 'dt-center center',
                        data: "GHI_CHU"
                    },
                    {
                        'bSortable': false,
                        header: "Tác vụ",
                        className: "center",
                        data: null
                    }
                ],
                funcOnDraw: function () {
                    try {
                        //TableGenericDanhMucDoiGrid.page(TableGenericDanhMucDoiGrid.page.info().page).draw(false);
                    } catch (e) {

                    }
                },
                func: function(grid) {
                    window.TableGenericDanhMucDoiGrid = grid;
                    $("#TableGeneric")
                        .on('click',
                            '.Delete',
                            function(e) {
                                e.preventDefault();

                                var thisTrData = $(this).attr('data-id');


                                if (confirm("Bạn có chắc chắn muốn xóa ?")) {
                                    $.ajax({
                                        type: 'POST',
                                        cache: false,
                                        async: true,
                                        url: "@Html.Raw(Url.Action("Delete"))",
                                        dataType: 'json',
                                        data: JSON.stringify({ maDoi: thisTrData }),
                                        contentType: "application/json; charset=utf-8",
                                        success: function(result) {
                                            if (result.success === true) {
                                                alert(result.message);
                                            }
                                        },
                                        error: function(jqXHR, textStatus, errorThrown) {

                                        },
                                        complete: function(result) {
                                            grid.ajax.reload(null, false);
                                        }
                                    });
                                }

                            });
                }
            };
            $("#btnGetData").on('click',
                function() {
                    AutoDataTable();
                });
        })(jQuery);
    </script>
}
