@model ES_WEBKYSO.Models.GCS_LICHGCS

<div style="margin: -15px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>
    <div class="modal-body">

        <form class="form-horizontal" id="BangKeForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.EditorFor(x => x.MA_DVIQLY)
                @Html.EditorFor(x => x.MA_SOGCS)
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12" align="left">
                    @Html.ValidationSummary()
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="NhanVienKyBangKeClose">Đóng</button>
        <button type="button" class="btn btn-primary" id="BangKeFormCreate">Cập nhật</button>
    </div>
</div>

@*<script type="text/javascript">

    $(document).ready(function () {

        $("#BangKeFormCreate").on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                cache: false,
                async: true,
                url: "@Url.Action("KyBangKe", "NhanVienKyBangKe")",
                dataType: 'json',
                data: $("#BangKeForm").serialize(),
                success: function (result) {
                    if (result.status === false) {
                        alert(result.messenger);
                    }
                    if (result.status === true) {
                        alert(result.messenger);
                        $("#BangKeClose").click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {

                },
                complete: function (result) {
                    window.TableGenericNhanVienKyBangKeGrid.ajax.reload();
                }
            });

        });

        $('#popupStaticModal').on('hidden.bs.modal', function () {
            $("#popupStaticModal").html('<div class="modal-body"><div></div></div>');
        });

    });

</script>*@