<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />

    <link href="~/Content/themes/ClipOne/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themes/ClipOne/fonts/style.css" rel="stylesheet" />
    <link href="~/Content/themes/ClipOne/css/main.css" rel="stylesheet" />
    <link href="~/Content/themes/ClipOne/css/main-responsive.css" rel="stylesheet" />
    <link href="~/Content/themes/ClipOne/plugins/iCheck/skins/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding: 70px 0px;
        }
    </style>
</head>
<body class="login example2" style="font-family: Arial">
    @RenderSection("featured", required: false)
    <div style="padding-top: 120px;">
        @RenderBody()
    </div>
    <div class="copyright">
        2015 &copy; E-solutions.
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/ClipOne/plugins/iCheck/jquery.icheck.min.js"></script>
</body>
</html>
