@model Administrator.Department.Models.UserProfile
@{
    ViewBag.Title = "Chuyển đơn vị";
}
@section PageScripts{
     <script type="text/javascript">
         var runSelect2 = function () {
             $(".search-select").select2({
                 allowClear: true
             });
         };
         runSelect2();
    </script>
}
<div class="col-md-12">
    <div class="page-header">
        <h1>Chuyển đơn vị</h1>
    </div>
    @Html.Partial("_MessagePartial")
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i><b>Xác nhận chuyển đơn vị</b>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ChangeLevel", "Custom", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Partial("_ChangeLevelPatial")
                @Html.HiddenFor(item => item.UserId)
            }
        </div>
    </div>
</div>