@model StaticPagedList<Administrator.Department.Models.UserModel>

@{
    ViewBag.Title = "UserManager";
}
@using PagedList.Mvc;
@using PagedList;
@section PageScripts{
    <script type="text/javascript">
        function deletePage(e) {
            var r = confirm("Bạn chắc chắn xóa người dùng này?");
            if (r == true) {
                var id = "User_" + e;
                var button = $("#" + id);
                button.click();
            }
        }
    </script>
}

<div class="col-md-12">
    <div class="page-header">
        <h1>Quản trị người dùng</h1>
    </div>
    @Html.Partial("_MessagePartial")
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            <strong>Danh sách người dùng </strong>
            <div class="panel-tools">
                <a class="btn btn-primary btn-xs" href="@Url.Action("AddUser")" >
                    <i class="fa fa-plus"></i>
                    Thêm mới 
                </a>
                <p class="btn btn-xs btn-link panel-expand1">
                    <i class="fa fa-resize-full"></i>
                </p>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("UserManager", "Custom", new { page = 1 }, FormMethod.Get))
            {  
                <div class="chat-form">
                    <div class="input-group">

                        <input name="search" value="@Request.Params["search"]" class="form-control input-mask-date" placeholder="Tìm kiếm tên đăng nhập..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-teal" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </div>
            }
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th class="hidden-xs">Tên đầy đủ</th>
                        <th class="hidden-xs">Trạng thái</th>
                        <th class="hidden-xs">Đơn vị</th>
                        <th style="width: 130px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td class="hidden-xs">@item.FullName</td>
                            <td class="hidden-xs">@if (item.Status == true)
                                                  { <span class="label label-sm label-success">Active</span> }
                            </td>
                            <td>@item.DepartmentName</td>
                            <td class="center">
                                <div>
                                    <a href="@Url.Action("ChangeLevel", "Custom", new { userId = item.UserId })" class="btn btn-xs btn-warning tooltips" data-placement="top" data-original-title="Chuyển đơn vị"><i class="clip-refresh"></i></a>
                                    <a href="@Url.Action("Authorize", new { editing = item.UserId })" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Phân quyền"><i class="fa fa-edit"></i></a>
                                    <a onclick="deletePage(@item.UserId)" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Xóa"><i class="fa fa-times fa fa-white"></i></a>
                                    <div style="display: none;">
                                        @using (Html.BeginForm("DeleteUser", "Custom", new { deleting = item.UserId }))
                                        {                                            
                                            @Html.AntiForgeryToken()
                                            <input id="User_@item.UserId" type="submit" value="Delete" />
                                        }
                                    </div>
                                    <a href="@Url.Action("ResetPass", new { editing = item.UserName })" class="btn btn-xs btn-purple tooltips" data-placement="top" data-original-title="Reset mật khẩu"><i class="clip-spin-alt "></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-5">
                    <div id="sample_1_info" class="dataTables_info">Trang @Model.PageNumber trên tổng số @Model.PageCount trang</div>
                </div>
                <div class="col-md-7">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("UserManager", "UserManager", new { page, Search = Request.Params["Search"] }))
                </div>
            </div>
        </div>
    </div>
</div>

