@model Administrator.Library.Models.LocalPasswordModel

<div class="col-sm-12">
    <!-- start: TEXT FIELDS PANEL -->
    <div class="page-header">
        <h1>Hồ sơ cá nhân</h1>
    </div>
    @Html.Partial("_MessagePartial")
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            <b>Thay đổi mật khẩu</b>
       
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @using (Html.BeginForm("Manage", "Account"))
                {
                      @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="form-field-1">
                            <b>Tài khoản</b>
                        </label>
                        <div class="col-sm-9">
                        <input type="text" class="form-control" id="form-field-1" value="@User.Identity.Name" placeholder="Text Field" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OldPassword" class="col-sm-2 control-label">Mật khẩu hiện tại</label>
                        <div class="col-sm-9">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m =>m.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NewPassword" class="col-sm-2 control-label">Mật khẩu mới</label>
                        <div class="col-sm-9">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m =>m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword" class="col-sm-2 control-label">Nhập lại mật khẩu mới</label>
                        <div class="col-sm-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m =>m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary" value="Cập nhật" id="btnAdd" style="width: 100px;">
                            <a class="btn btn-dark-grey" href="/Admin" style="width: 100px;">Thoát
                               
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
