@{
    ViewBag.Title = "EditMenu";
}
@section PageScripts{
    <script type="text/javascript">
        var runSelect2 = function () {
            $(".search-select").select2({
                allowClear: true
            });
        };
        runSelect2();
    </script>
}

@model Administrator.Library.Models.MenuModel
<div class="col-md-12">
    <div class="page-header">
        <h3>Quản trị menu</h3>
    </div>
    @Html.Partial("_MessagePartial")
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i><b>Cập nhật menu</b>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("EditMenu", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Partial("_MenuPartial")
                @Html.HiddenFor(item => item.MenuId)
            }
        </div>
    </div>
    @Html.Partial("_IconPartial")
</div>

