@model StaticPagedList<Administrator.Department.Models.Administrator_Department>
@{
    ViewBag.Title = "DepartmentManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

@section PageScripts{
    <script type="text/javascript">
        function deleteVtu(e) {
            var r = confirm("Bạn chắc chắn xóa đơn vị này?");
            if (r == true) {
                var id = "DonVi_" + e;
                var button = $("#" + id);
                button.click();
            }
        };
        var runSelect2 = function () {
            $(".search-select").select2({
                placeholder: "Chọn gì đó",
                allowClear: true
            });
        };
        runSelect2();
        function submitform() {
            $("#btn_Submit").click();
        };
        function submitValue(value) {
            $("#pageSize").val(value);
            submitform();
        };
    </script>

}
<div class="col-md-12">
    <div class="page-header">
        <h1>Quản lý danh mục đơn vị</h1>
    </div>
    @Html.Partial("_MessagePartial")
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            <strong>Danh sách đơn vị</strong>
            <div class="panel-tools">

                <a class="btn btn-primary btn-xs" href="@Url.Action("AddDepartment")">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>

                <p class="btn btn-xs btn-link panel-expand1">
                    <i class="fa fa-resize-full"></i>
                </p>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("DepartmentManager", "Department", FormMethod.Get))
            {
                <input type="hidden" id="pageSize" name="pageSize" value="@Request.Params["pageSize"]" />
                <div class="chat-form">
                    <div class="input-group">

                        <input name="search" class="form-control input-mask-date" placeholder="Tìm kiếm theo tên đơn vị" type="text" value="@Request.Params["search"]">
                        <span class="input-group-btn">
                            <button class="btn btn-teal" type="submit" id="btn_Submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </div>
            }

            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                    <tr>
                        <th>Tên đơn vị</th>
                        <th>Trạng thái</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th class="center">Chức năng</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.Raw(item.DepartmentName)</td>
                             <td class="hidden-xs">@if (item.IsActive == true)
                                                  { <span class="label label-sm label-success">Active</span> }
                            </td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td class="center">
                                <div>

                                    <a href="@Url.Action("EditDepartment", new { editing = item.DepartmentId })" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Sửa"><i class="fa fa-edit"></i></a>
                                    <a href="#" onclick="deleteVtu(@item.DepartmentId)" class="btn btn-xs btn-bricky tooltips"><i class="fa fa-times fa fa-white"></i></a>
                                    <div style="display: none;">
                                        @using (Html.BeginForm("DeleteDepartment", "Department", new { deleting = item.DepartmentId }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input id="DonVi_@item.DepartmentId" class="btn btn-xs btn-bricky tooltips" type="submit" value="Delete" />
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
